@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.SmartStudent.Error;
}

<h1 class="text-danger">@Resources.SmartStudent.Error.</h1>
<h2 class="text-danger">@Resources.SmartStudent.ErrorMessage.</h2>