@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.SmartStudent.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resources.SmartStudent.LockedOut.</h1>
    <h2 class="text-danger">@Resources.SmartStudent.LockedOutMessage.</h2>
</hgroup>